<form  action="/robots/<%= @robot.id %>" method="post">
  <p>Edit</p>
  <input type="hidden" name="_method" value="PUT" />
  <label>name</label>
  <input type="text" name="robot[name]" value="<%= @robot.name %>"/><br/>
  <label>city</label>
  <input type="text" name="robot[city]" value="<%= @robot.city %>"/><br/>
  <label>state</label>
  <input type="text" name="robot[state]" value="<%= @robot.state %>"/><br/>
  <label>department</label>
  <input type="text" name="robot[department]" value="<%= @robot.department %>"/><br/>

  <input type="submit"/>

</form>
